---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hola, me llamo Josué Santos! <Badge>Disponible para trabajar</Badge> </h1>
		<h2>+2 años de experiencia. Desarrollador Web. De Ecuador, Santa Elena </h2>
	</main>
</Layout>

