<!-- TODO: Informacion breve de mi educacion -->
<h1>

    Me graduadué en la Universidad Península de Santa Elena, en la Facultad de Sistemas y Telecomunicaciones, donde obtuve mi título de Ingeniero en Tecnologías de la Información. Mi formación me permitió adquirir conocimientos sobre: creación de bases de datos, programación, desarrollo de software, sistemas operativos y redes informáticas. 

</h1>