
<article class="flex flex-col mt-10 mb-20 md:flex-row items-center justify-center gap-8 text-gray-700 dark:text-gray-300">
    <div
      class="text-pretty order-2 md:order-1 text-lg"
    >
      <p>
        Me graduadué en la Universidad Península de Santa Elena, en la Facultad de Sistemas y Telecomunicaciones, donde obtuve mi título de Ingeniero en Tecnologías de la Información. Mi formación me permitió adquirir conocimientos sobre: creación de bases de datos, programación, desarrollo de software, sistemas operativos y redes informáticas. 
      </p>
    </div>
  
    <img width="200" height="200" src="/assets/UPSE.jpg" alt="UPSE" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
  
  </article>