---
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: "Educación",
    label: "educacion",
    url: "/#educacion",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Certificados",
    label: "certificados",
    url: "/#certificados",
  },
  {
    title: "Tecnologías",
    label: "tecnologias",
    url: "/#tecnologias",
  },
]
---

<header
  class="fixed top-0 z-10 flex flex-wrap items-center justify-center w-full mx-auto mt-2 "
>
  <nav
    class="flex w-full sm:w-auto text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-4 py-2 transition rounded-full 
          dark:hover:text-black dark:hover:bg-gray-100 dark:text-white
          hover:text-white hover:bg-gray-800 text-black 
          whitespace-nowrap overflow-hidden text-ellipsis
          "
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("bg-gray-800")
              item.classList.add("text-white")

            } else {
              item.classList.remove("bg-gray-800")
              item.classList.remove("text-white")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-white/50 ring-white/10;
    }
    
  }
</style>
