<header class="flex justify-between items-center py-3 w-[1120px]">
    <img 
    class="rounded-full h-12 w-12"
    src="https://avatars.githubusercontent.com/u/138735276?v=4" 
    alt="my photo"
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>

    </nav>

</header>