---
import Tailwind from "./logos/Tailwind.astro";
import Angular from "./logos/Angular.astro";
import NodeJS from "./logos/NodeJS.astro";
import Css from "./logos/Css.astro";
import Html from "./logos/Html.astro";
import Ionic from "./logos/Ionic.astro";
import Mysql from "./logos/Mysql.astro";
import Python from "./logos/Python.astro";
import Javascript from "./logos/Javascript.astro";
import AstroL from "./logos/AstroL.astro";
import TypeScript from "./logos/TypeScript.astro";
import NodeRed from "./logos/NodeRed.astro";


const ORIGIN_TECHNOLOGIES = [
  { name: "HTML", image: Html },
  { name: "CSS", image: Css },
  { name: "JavaScript", image: Javascript },
  { name: "TypeScript", image: TypeScript },
  { name: "Angular", image: Angular },
  { name: "Node.js", image: NodeJS },
  { name: "MySQL", image: Mysql },
  { name: "Python", image: Python },
  { name: "Astro", image: AstroL },
  { name: "Tailwind CSS", image: Tailwind },
  { name: "Ionic", image: Ionic },
  {name: "Node-RED", image: NodeRed},
];

const duplicateTechnologies = (arr: any) => {
  return [...arr, ...arr];
};

const TECHNOLOGIES = duplicateTechnologies(ORIGIN_TECHNOLOGIES);
---

<div class="slider fading-edges">
  <div class="slide-track">
    {
      TECHNOLOGIES.map(({ name, image: Imagen }) => (
        <div class="slide">
          <div class="cont flex justify-center">
            <Imagen src={Imagen} alt={name} class="w-16 h-16" />
          </div>
          <p class="text-center text-sm font-semibold mt-2">{name}</p>
        </div>
      ))
    }
  </div>
</div>

<style>
  .slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
  }

  .slider:hover .slide-track {
    animation-play-state: paused;
  }

  .slider .slide-track {
    display: flex;
    animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    width: calc(200px * 24); /* Número total de slides (el doble) */
  }

  .slider .slide {
    width: 180px;
  }

  .slider .slide .cont {
    width: 180px;
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-180px * 12)); /* Número real de slides */
      transform: translateX(calc(-180px * 12));
    }
  }
  .fading-edges {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }
</style>
